<!-- src/shared/partials/header/header.component.html -->

<!-- src/shared/partials/header/header.component.html -->

<header id="HeaderBox" class="bank-header">

  <div class="header-container">


    <!-- Branding -->
    <div class="brand-area"
         (click)="appConfig.setHomepage()">


      <div class="logo-box">

        <img
          class="bank-logo pointer"
          [alt]="appDataService.projectTitle"
          src="s/logo"
        />

      </div>



      <div class="brand-text">


        <div class="platform-title">

          {{ 'Wegagen Speak-Up Platform' | translate }}

        </div>


        <div class="platform-subtitle">

          {{ 'Secure · Confidential · Anonymous Reporting' | translate }}

        </div>


      </div>


    </div>



    <!-- User / Language -->
    <div id="HeaderBox2" class="header-actions">

      <views-user id="UserBox"></views-user>

    </div>


  </div>

</header>